header{
    height: 50px;
    width: 100%;
    background: transparent;
    top:0;
    right: 0;
    position: fixed;
}
body{
background-image: url(../src/img/fondo2.jpg);
/* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
background-position: center;
/* Para que la imagen de fondo no se repita */
background-repeat: no-repeat;
/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
background-attachment: fixed;
/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
background-size: cover;
/* Se muestra un color de fondo mientras se está cargando la imagen
de fondo o si hay problemas para cargarla */

}

.logo{
    height: 60px;
    width: 150px;
    margin-top: 3px;
    margin-left: 10px;
    position: absolute;
    z-index: 0;
}
.btnh{
    margin-left: 1260px;
    margin-top: 5px;
    position: absolute;
    z-index: 0;
    font-size: 15px;
    background-color: rgb(104, 112, 112);
    color: rgb(0, 0, 0);
    border: 4px solid rgb(73, 71, 77);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}
h1{
    text-align:center;
    margin-top: 50px;
    font-size: 50px;
}
h2{
    text-align: center;
    line-height: 20px;
    font-weight: 200;
    color: #757575;
}
h3{
    margin-top: 35px;
    color: black;
    font-size: 25px;
    text-align: center;
} 
p{
    text-align: center;
    color: white;
    font-style: solid;
    width: 350px;
    height: 100px;
    background-color:  #687274;
    border: 6px solid rgba(227, 227, 245, 0.658);
    padding: 15px;
}
.btn{
    font-size: 15px;
    background-color: rgb(104, 112, 112);
    color: rgb(0, 0, 0);
    border: 4px solid rgb(73, 71, 77);
    padding: 15px 20px 15px 20px;
    border-radius: 5px;
    margin: 0em 1em 0em 2em;
}
.hidden{
    display: none;
    z-index:1;
    width: 450px;
    height: 380px;
    margin: 15em 20em 0em 55.5em;
}
 